{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    .order-list {
      float: left;
    }

    .order_detail {
      float: left;
      margin-left: 20px;
      width: 45%;
    }

    #map {
      width: 100%;
      display: none;
      height: 400px;
      background-color: grey;
    }

    .table th,td {
      padding: 10px;
    }
</style>

<div class="example-wrapper">
    <h1>Hello, This is data processor of orders! ✅</h1>

    Please select an action below:
  <div id="buttons"><button class="sync" >Sync Now</button><button class="load" >Load from DB</button><button class="csv" >Download CSV</button><button class="jsonl" >Download Jsonl</button></div>
  <div><input type="text" name="mail_address" width="150px" /><button class="email">Send Me Email</button></div>
  <div id="data">
    <div class="order-list">
      <table class="table">
        <thead>
          <tr>
            <th>Oder ID</th>
            <th>Order Date</th>
            <th>Subtotal</th>
            <th>Grand Total</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div class="order_detail">
      <div id="order_data"></div>
      <div id="map"></div>
    </div>

  </div>


<script>

$(document).ready(function(){
    /* Sync data from jsonl file and store into DB*/

    $('.sync').on('click', function(e) {
      e.preventDefault();
      var orderRow = '';
      $('.table').replaceWith(`
        <table class="table">
          <thead>
            <tr>
              <th>Oder ID</th>
              <th>Order Date</th>
              <th>Subtotal</th>
              <th>Grand Total</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      `);
      $.ajax({
        type: "GET",
        url: 'http://localhost:8000/api/sync',
        dataType: 'html',
        success: function (data) {
          var result = jQuery.parseJSON(data);
          $.each(result, function(key, value) {
            orderRow = `<tr>
                          <td>
                            <a href="#" onclick="getOrder(`+value.order_id+`,`+value.latitude+`,`+value.longitude+`)">
                               `+value.order_id+`
                            </a>
                          </td>
                          <td> `+value.order_datetime +` </td>
                          <td> `+value.total_order_value+` </td>
                          <td> `+value.grand_total+` </td>
                        </tr>`;
            $('.table tbody').append(orderRow);
          });
        }
      });
    });

    /* Load existing data from DB*/
    $('.load').on('click', function(e) {
      e.preventDefault();
      var orderRow = '';
      $('.table').replaceWith(`
        <table class="table">
          <thead>
            <tr>
              <th>Oder ID</th>
              <th>Order Date</th>
              <th>Subtotal</th>
              <th>Grand Total</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      `);
      $.ajax({
        type: "GET",
        url: 'http://localhost:8000/api/orders',
        dataType: 'html',
        success: function (data) {
          var result = jQuery.parseJSON(data);
          $.each(result, function(key, value) {
            orderRow = `<tr>
                          <td>
                            <a href="#" onclick="getOrder(`+value.order_id+`,`+value.latitude+`,`+value.longitude+`)">
                               `+value.order_id+`
                            </a>
                          </td>
                          <td> `+value.order_datetime +` </td>
                          <td> `+value.total_order_value+` </td>
                          <td> `+value.grand_total+` </td>
                        </tr>`;
            $('.table tbody').append(orderRow);
          });
        }
      });
    });


    /* Download CSV*/
    $('.csv').on('click', function(e) {
      window.location.href = 'http://localhost:8000/csv';
    });



    /* Download Jsonl*/
    $('.jsonl').on('click', function(e) {
      window.location.href = 'http://localhost:8000/jsonl';
    });


    /* Send Email */
    $('.email').on('click', function(e) {
      e.preventDefault();

      $.ajax({
        type: "POST",
        url: 'http://localhost:8000/sendmail',
        dataType: 'json',
        data: $('input[name="mail_address"]').val(),
        success: function (data) {
          console.log(data);

        }
      });
    });
});

// Initialize and add the map
function initMap(latitude,longitude) {
  // The location of customer
  var location = {lat: latitude, lng: longitude};
  // The map, centered at customer
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: location});
  // The marker, positioned at customer
  var marker = new google.maps.Marker({position: location, map: map});
  $('#map').show();
}

function getOrder(order_id, latitude,longitude) {

      $('#order_data').replaceWith(`
        <div id="order_data"><b><u>Detail Order</u></b></div>
      `);
      $.ajax({
        type: "GET",
        url: 'http://localhost:8000/api/orders/'+order_id,
        dataType: 'html',
        success: function (data) {
          var result = jQuery.parseJSON(data);
          $.each(result, function(key, value) {
            orderRow = `<ul>
                          <li>Order ID: `+value.order_id +`</li>
                          <li>Order Date: `+value.order_datetime +` </li>
                          <li>Customer ID:  `+value.customer_id+` </li>
                          <li>First Name: `+value.customer_fname+` </li>
                          <li>Last Name: `+value.customer_lname+` </li>
                          <li>Email: `+value.customer_email+` </li>
                          <li>Phone: `+value.customer_phone+` </li>
                          <li>Street: `+value.customer_street+` </li>
                          <li>Postcode: `+value.customer_postcode+` </li>
                          <li>Suburban: `+value.customer_suburb+` </li>
                          <li>State: `+value.customer_state+` </li>
                          <li>Distinct Unit Count: `+value.distinct_unit_count+` </li>
                          <li>Total Unit Count: `+value.total_units_count+` </li>
                          <li>Average Unit Price: `+value.average_unit_price+` </li>
                          <li>Total Order Value: `+value.total_order_value+` </li>
                          <li>Total Discount: `+value.discount+` </li>
                          <li>Subtotal: `+value.subtotal+` </li>
                          <li>Shipping Fee: `+value.shipping_fee+` </li>
                          <li>Grand Total: `+value.grand_total+` </li>
                        </ul>`;
            $('#order_data').append(orderRow);
          });
          initMap(latitude,longitude);
        }
      });
}
</script>
<script>

    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWuKRPk3vh3Mu-T24z9cvbMcSYveYdexo">
    </script>
</div>
{% endblock %}
